---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
			<p class="mb-2">I'm currently pursuing a Master's degree at the University of Caen Normandy, where I'm delving into the realm of Computer Science, majoring in Algorithmics.</p>
			<p class="mb-2">My fascination with software development ignited at a young age, and that passion has only grown stronger over the years. I love building things, ranging from web, mobile, and desktop apps, to machine learning models.</p>
			<p class="mb-2">On a personal level, I'm a geek at heart. If it's nerdy, chances are I'm already a fan, haha. Beyond the screen I'm interested in rock climbing, reading (fiction), and cultural exchange.</p>
			<p class="mb-2">Excited about opportunities that lie ahead, I'm ready to contribute, learn, and collaborate. Feel free to reach out!</p>
	</div>
</section>
